<IfModule mod_rewrite.c>
    RewriteEngine On
    # ALTERADO: A base agora é a raiz do container
    RewriteBase / 

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>